In [2]:
from polygon import StocksClient
from datetime import date, timedelta, datetime
import csv

def get_price_data(api, start_date, end_date, file_name, ticker):
    client = StocksClient(api)

    file = file_name

    with open(file, mode='w', newline='') as csv_file:

        field_names = ['from', 'open', 'high', 'low', 'close', 'volume', 'afterHours', 'preMarket']

        writer = csv.DictWriter(csv_file, fieldnames=field_names)
        writer.writeheader()

        for dt in range(int((end_date - start_date).days)):
            curr_date = (start_date + timedelta(dt)).strftime("%Y-%m-%d")
            curr_price = client.get_daily_open_close(symbol=ticker, date=curr_date)
            if (curr_price['status'] == 'OK'):
                writer.writerow({
                    'from': curr_price['from'],
                    'open': curr_price['open'],
                    'high': curr_price['high'],
                    'low': curr_price['low'],
                    'close': curr_price['close'],
                    'volume': curr_price['volume'],
                    'afterHours': curr_price['afterHours'],
                    'preMarket': curr_price['preMarket'],
                })

In [3]:
# get_x_years_price_data("SopTG_SdNVunXukEyQXFzL1ZQORWvGpD", date(2017,4,24), date(2022,4,18), 'TSLA_prices.csv', 'TSLA')

top_10_tickers = ['GME', 'AMC', 'TSLA', 'AAPL', 'AMZN', 'AMD', 'NVDA', 'MSFT', 'SPY', 'QQQ']

for ticker in top_10_tickers:
    get_price_data("SopTG_SdNVunXukEyQXFzL1ZQORWvGpD", date(2017,4,24), date(2022,4,24), f'{ticker}_prices.csv', ticker)
    print(f'Got {ticker} price data')

Got GME price data
Got AMC price data
Got TSLA price data
Got AAPL price data
Got AMZN price data
Got AMD price data
Got NVDA price data
Got MSFT price data
Got SPY price data
Got QQQ price data

In [6]:
import pandas as pd

tesla_prices = pd.read_csv('tesla_prices.csv')

tesla_prices

,from,open,high,low,close,volume,afterHours,preMarket
0,2022-03-21,914.980,942.8500,907.0900,921.16,27326784,918.2700,907.00
1,2022-03-22,930.000,997.8600,921.7500,993.98,35279619,992.2300,918.89
2,2022-03-23,979.940,1040.7000,976.4000,999.11,40158823,998.5500,993.00
3,2022-03-24,1009.730,1024.4900,988.8000,1013.92,22971626,1009.5200,1003.02
4,2022-03-25,1008.000,1021.7999,997.3201,1010.64,20656282,1011.1500,1012.00
5,2022-03-28,1065.100,1097.8799,1053.6000,1091.84,34100193,1095.8000,1006.00
6,2022-03-29,1107.990,1114.7700,1073.1100,1099.57,24533869,1094.0600,1099.84
7,2022-03-30,1091.170,1113.9500,1084.0000,1093.99,19955002,1095.8800,1092.97
8,2022-03-31,1094.570,1103.1399,1076.6410,1077.60,16330919,1075.5001,1101.58
9,2022-04-01,1081.150,1094.7500,1066.6400,1084.59,18087741,1091.0000,1080.10
10,2022-04-04,1089.380,1149.9100,1072.5300,1145.45,27392567,1140.0000,1093.00
11,2022-04-05,1136.300,1152.8700,1087.3000,1091.26,26641673,1088.0000,1141.61
12,2022-04-06,1073.470,1079.0000,1027.7000,1045.76,29782845,1043.0000,1086.00
13,2022-04-07,1052.390,1076.5900,1021.5401,1057.26,26478753,1066.5000,1055.44
14,2022-04-08,1043.210,1048.4400,1022.4350,1025.49,18259223,1022.0000,1073.01
15,2022-04-11,980.400,1008.4681,974.6400,975.93,19785735,962.0000,1009.53
16,2022-04-12,997.640,1021.1921,976.6001,986.95,21992032,991.7800,968.33
17,2022-04-13,981.075,1026.2400,973.0970,1022.37,18368304,1023.0000,999.68
18,2022-04-14,999.290,1012.7099,982.1900,985.00,19471035,989.4500,1026.20
19,2022-04-18,989.030,1014.9200,973.4100,1004.29,17237387,1013.0200,987.25
20,2022-04-19,1005.060,1034.9400,995.3250,1028.15,16604744,1018.0000,1008.18
21,2022-04-20,1030.000,1034.0000,975.2501,977.20,23534922,1031.1800,1015.24
22,2022-04-21,1074.730,1092.2200,996.4150,1008.78,35136565,1011.3999,1031.61
23,2022-04-22,1014.910,1034.8500,994.0001,1005.05,23226886,1000.3000,1011.40
24,2022-04-25,978.970,1008.6200,975.3000,998.02,22780445,998.3000,1000.20
25,2022-04-26,995.430,1000.0000,875.0000,876.42,46066876,875.0100,990.00