### ISA 414 Final Project - Stock Predictions through Unsupervised Sentiment Analysis
##### Ethan Buege, Jorge Nadjar, Mac Magyaros

In [2]:
from polygon import StocksClient
from datetime import date, timedelta, datetime
import csv

def get_price_data(api, start_date, end_date, file_name, ticker):
    client = StocksClient(api)

    file = file_name

    with open(file, mode='w', newline='') as csv_file:

        field_names = ['from', 'open', 'high', 'low', 'close', 'volume', 'afterHours', 'preMarket']

        writer = csv.DictWriter(csv_file, fieldnames=field_names)
        writer.writeheader()

        for dt in range(int((end_date - start_date).days)):
            curr_date = (start_date + timedelta(dt)).strftime("%Y-%m-%d")
            curr_price = client.get_daily_open_close(symbol=ticker, date=curr_date)
            if (curr_price['status'] == 'OK'):
                writer.writerow({
                    'from': curr_price['from'],
                    'open': curr_price['open'],
                    'high': curr_price['high'],
                    'low': curr_price['low'],
                    'close': curr_price['close'],
                    'volume': curr_price['volume'],
                    'afterHours': curr_price['afterHours'],
                    'preMarket': curr_price['preMarket'],
                })

In [3]:
# get_x_years_price_data("SopTG_SdNVunXukEyQXFzL1ZQORWvGpD", date(2017,4,24), date(2022,4,18), 'TSLA_prices.csv', 'TSLA')

top_10_tickers = ['GME', 'AMC', 'TSLA', 'AAPL', 'AMZN', 'AMD', 'NVDA', 'MSFT', 'SPY', 'QQQ']

for ticker in top_10_tickers:
    get_price_data("SopTG_SdNVunXukEyQXFzL1ZQORWvGpD", date(2017,4,24), date(2022,4,24), f'{ticker}_prices.csv', ticker)
    print(f'Got {ticker} price data')

Got GME price data
Got AMC price data
Got TSLA price data
Got AAPL price data
Got AMZN price data
Got AMD price data
Got NVDA price data
Got MSFT price data
Got SPY price data
Got QQQ price data

In [5]:
import pandas as pd

tesla_prices = pd.read_csv('TSLA_prices.csv')

tesla_prices

,from,open,high,low,close,volume,afterHours,preMarket
0,2017-04-24,61.844,62.110,61.2043,61.606,25417525,61.5460,62.000
1,2017-04-25,61.600,62.796,61.1720,62.758,33688540,62.7500,61.700
2,2017-04-26,62.474,62.900,61.8000,62.034,23475220,62.0020,62.628
3,2017-04-27,62.338,62.618,61.5000,61.726,17342845,61.8200,61.980
4,2017-04-28,61.966,62.960,61.6000,62.814,22527390,62.9200,61.958
...,...,...,...,...,...,...,...,...
1255,2022-04-18,989.030,1014.920,973.4100,1004.290,17237387,1013.0200,987.250
1256,2022-04-19,1005.060,1034.940,995.3250,1028.150,16604744,1018.0000,1008.180
1257,2022-04-20,1030.000,1034.000,975.2501,977.200,23534922,1031.1800,1015.240
1258,2022-04-21,1074.730,1092.220,996.4150,1008.780,35136565,1011.3999,1031.610
1259,2022-04-22,1014.910,1034.850,994.0001,1005.050,23226886,1000.3000,1011.400